<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TV-specificne aktivnosti -->
    <application>
        <activity
            android:name=".tv.TvActivity"
            android:banner="@drawable/banner_320x180"
            android:icon="@drawable/banner_320x180"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="landscape"/>
    </application>
</manifest>