<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssait.yutuflixbalkan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-feature android:name="android.hardware.accelerated" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YuTUFlix">

        <!-- AdMob Application ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9646614878051651~8270354441"/>

        <!-- Glavna aktivnost -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivnost za detalje filmova -->
        <activity android:name=".DetailsActivityFilm" />

        <!-- Aktivnost za detalje serija -->
        <activity android:name=".DetailsActivitySeries" />

        <!-- Player za video -->
        <activity
            android:name=".PlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape"/>

        <!-- Nova aktivnost za kategorije -->
        <activity android:name=".CategoryActivity" />

        <activity android:name=".PrivacyActivity" />

        <activity android:name=".FavoritesActivity"
            android:exported="false"/>

    </application>

</manifest>